<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="foodnow.foodnow">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".landing_page"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customer_login"
            android:label="Food Now"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner_login"
            android:label="Food Now"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".add_restaurant"
            android:label="@string/title_activity_add_restaurant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".restaurant_list"
            android:label="@string/title_activity_restaurant_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".customer_home"
            android:label="@string/title_activity_customer_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".occupany"
            android:label="@string/title_activity_occupany"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>